<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form action="/user" method="post">
        <label>Full Name</label>
        <input type="text" required name = "name"> 
        <label>Email</label>
        <input type="text" required name = "email"> 
        <label>Password</label>
        <input type="text" required name = "password"> 
        <button type = "submit">Sign up</button>
    </form>

</body>
</html>  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="login-box">
        <h2>Signup</h2>
        <form action="/user" method="post">
          <div class="user-box">
                <input type="text" name="name" required>
                <label>Full Name</label>
          </div>
          <div class="user-box">
            <input type="text" name="email" required>
            <label>Email</label>
          </div>
          <div class="user-box">
            <input type="password" name="password" required>
            <label>Password</label>
          </div>
          
          
            <button type = "submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Sign up</button>
        </form>
      </div>

</body>
</html> 


